<div class="overlay" *ngIf='isLoading'><img src='assets/images/200.gif' alt="Logo" /></div>
<div class="topsrchcolor">
  <form #srchForm="ngForm" (ngSubmit)="submitsrch(srchForm.form);" class="form-inline">
        <label>search users</label>
         <input type="text" class="form-check-input" id="tta" name="srch" ngModel #nameField="ngModel" required minlength="1">                    
         <button type="submit" class="form-check-input btn btn-success">Submit</button> 
         <button type="button" (click)="submitresetsrchres(srchForm.form);emptysearch('a')" class="form-check-input btn btn-success">Reset</button>
    </form>
<div class="clear"></div>
</div>
<div class="clear"></div>

<div class="text-right">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<div *ngIf='!isLoading && items.length==0'>no results</div>
 <ul class="list-group">
<li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of items  | paginate: { itemsPerPage: count, currentPage: p }; index as i">
    <div class="but3">
        <div class="but2"><button (click)="onShow(i)">show {{item.comments.length}} commments</button><button (click)="onShowUsers(i)">show {{item.posts.length}} posts</button><button (click)="onHide(i)">Hide</button></div>
    </div>
    <div class="but7"> 
        <div class="badge badge-primary badge-pill">Posts {{item.posts.length}}</div><div class="badge badge-primary badge-pill">Comments {{item.comments.length}}</div>
    </div>
    <div class="clear"></div>
    <div class="but3">     
        <div class="but3">{{item.nameuser}}</div><div class="but2"> Joined on </div><div class="but2">{{item.dateCreated| date : 'dd-MM-yyyy HH:mm:ss'}}</div>         
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
    
    <ul  id="showhide{{i}}" style="display:none;">
        <li *ngFor="let itemc of item.comments">
            <div class="but3">  
                <div class="but3">{{itemc.user.nameuser}}</div><div class="but2"> Commented on </div><div class="but2">{{itemc.dateCreated| date : 'dd-MM-yyyy HH:mm:ss'}}</div> 
                <div class="clear"></div>
                <div class="but4">{{itemc.text}}</div>
            </div>
            <div class="clear"></div>
        </li>
    </ul>
    <ul  id="showhideusers{{i}}" style="display:none;">
        <li *ngFor="let itemc of item.posts">
            <div class="but3">  
                <div class="but3">{{itemc.user.nameuser}}</div><div class="but2"> Posted on </div><div class="but2">{{itemc.dateCreated| date : 'dd-MM-yyyy HH:mm:ss'}}</div> 
                <div class="clear"></div>
                <div class="but4">{{itemc.txt}}</div>
            </div>
            <div class="clear"></div>
        </li>
    </ul>    
</li>
</ul>
