<div class="topsrchcolor">
    <form #srchFormres="ngForm" (ngSubmit)="submitresetsrchres(srchFormres.form);" class="formspost formspost1">
     <button type="button" type="submit" (click)="emptysearch('a')" class="btn btn-success">Reset</button>  
    </form>
    <form #srchForm="ngForm" (ngSubmit)="submitsrch(srchForm.form);" class="formspost">
         <input type="text" class="form-control" id="tta" placeholder="Search Posts"name="srch" ngModel #nameField="ngModel" required minlength="1">           
         <button type="button" type="submit" class="btn btn-success">Submit</button>   
    </form>
    <div class="clear"></div>

</div>
<div class="clear"></div>

<form #postForm="ngForm" (ngSubmit)="submitpost(postForm.form);" class="formspost">
    <div class="form-group">
      <label for="name">Add Post</label>
      <textarea type="text" class="form-control" id="ttb" name="postadd" ngModel #nameField="ngModel" required minlength="1"></textarea>
    </div>    
   <button type="button" type="submit" (click)="emptysearch('b')" class="btn btn-success">Save post</button>    
</form>
<div class="text-right">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<div *ngIf="items.length == 0; then thenBlock"></div>
<ng-template #thenBlock>No results found</ng-template>
 <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of items  | paginate: { itemsPerPage: count, currentPage: p }; index as i">
    <div class="but3">
        <div class="but2"><button (click)="onShow(i)">show {{item.comments.length}} comments</button><button (click)="onHide(i)">Hide</button><button (click)="deletepost(item.id)">Delete</button></div>
    </div>
    <div class="but7"> 
        <div class="badge badge-primary badge-pill">Comments {{item.comments.length}}</div>
    </div>
    <div class="clear"></div>
    <div class="but3">     
        <div class="but3">{{item.user.nameuser}}</div><div class="but2"> Posted on </div><div class="but2">{{item.dateCreated}}</div>         
        <div class="clear"></div>
        <div class="but4">{{item.txt}}</div>
    </div>
    <div class="clear"></div>
    
    <ul  id="showhide{{i}}" style="display:none;">
        <li *ngFor="let itemc of item.comments">
            <div class="but3">
                <div class="but2"><button (click)="deletecomment(itemc.id,i,p)">Delete</button></div>                 
            </div>
            <div class="but3">  
                <div class="but3">{{itemc.user.nameuser}}</div><div class="but2"> Commented on </div><div class="but2">{{itemc.dateCreated}}</div> 
                <div class="clear"></div>
                <div class="but4">{{itemc.text}}</div>
            </div>
            <div class="clear"></div>
        </li>
        <li>
            <form #postForm="ngForm" (ngSubmit)="submitcomment(postForm.form,i,p);">
                  <div class="form-group" class="formspost">
                    <label for="name">Add Comment</label>
                    <textarea type="text" class="form-control" id="tt{{i}}" name="commentadd" ngModel #nameField="ngModel" required minlength="1"></textarea>
                  </div>    
                 <button type="button" type="submit" (click)="emptysearch(i)"  class="btn btn-success">Save post</button>    
            </form>            
        </li>
    </ul>
</li>
</ul>
