body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  position:relative;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 50px;    /* Footer height */
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  padding-top:5px;
  background: #0000c0;
  text-align:center;
  color:white;
}
.clear{
    line-height:0;
    clear:both;
}

.centered {
   text-align: center;
   font-size: 0;

}
.centered {
   float: none;
   display: inline-block;
   text-align: left;
   font-size: 13px;
   width:70%;
   height:100%;
   margin-left:15%;
   margin-right:15%;  
   margin-bottom:30px;
   padding-top:10px;
}



.row1{
    background-color:#0000c0;
    margin:0;padding:0;
    text-align:center;
    height:100px;
}

.row1 ul li{
    color:white;
    display: inline-block;
    margin-right:30px;
    
}

.row1 ul li a{
    color:white;
    text-decoration:none;
    font-size:28px;
}

.row1 .react{
    color:white;
    text-decoration:none;
    font-size:28px;
}

.container-fluid{
    margin:0;padding:0;
}

.topsrchcolor{
    background-color: #f2f1f0;
    padding-bottom:15px;
    padding-top:15px;
    
}

.but2{
    padding:5px;
    float:left;
}

.but3{
    padding:5px;
    float:left;
    font-weight:bold;
}
.but4{
    padding:5px;
    float:left;
    font-weight:normal;
}
.but7{
    padding:5px;
    float:right;
}


ul{
    list-style-type: none;
}
.overlay{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:black;
    z-index:10000000000;
    opacity: 0.5;
}
.overlay img{
   height: 250px;
   left: 50%;
   margin-top: -125px;
   margin-left: -125px;
   position: absolute;
   top: 50%;
   width: 250px;   
   z-index:100000000000;
}

@media only screen and (max-width: 768px) {

 
 .centered {
   width:98%;
   margin-left:1%;
   margin-right:1%;  
}

 .deletepostcom{
   width:100%;
 }
 
 .leftbutton{
    float:left;
}
 
}